<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sem 3_2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- <p v-for="item in items">{{ item }}</p> -->
    <div id="app">
        <todo-list/>
    </div>
    <script>
        Vue.component('list-item', {
            props: ['itemData'],
            methods: {
                removeItem(id) {
                    this.$emit('removeItem', id)
                }
            },
            template: `
                        <div>
                            <p> {{ itemData.title }} </p>
                            <button @click="removeItem(itemData.id)">X</button>    
                        </div>
            `,
        })
        Vue.component('todo-list', {
            props: {  },
        
            data() {
                return {
                    items: [],
                    newItem: '',
                }
            },
            methods: {
                add() {
                    const newItem2 = {
                        id: Date.now(),
                        title: this.newItem
                    }
                    this.items.push(newItem2)
                    this.newItem = ''
                },
                removeItem(id) {
                    this.items = this.items.filter(item => item.id !== id)
                }
            },
        
            template: `
                <div>
                    <h2> ToDo List </h2>
                    <input type="text" v-model="newItem">
                    <button @click="add()">Добавить</button>
                    <list-item 
                        v-for="item in items" 
                        :item-data="item" 
                        @removeItem="removeItem" 
                        :key="item.id">
                        </list-item>
                </div>
            `,
        });
        new Vue({
            el: '#app',
            data: {

            },
        })
    </script>
    
    
    
</body>
</html>